@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    @apply bg-gray-900 min-h-screen max-w-full p-10 text-center text-white;

    .title {
        @apply text-4xl mb-3 underline underline-offset-4;
    }
    .link {
        @apply text-xl underline;
    }
}